@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Splash&display=swap');


nav {
    background-color: #1e1e1e;
}

.navbar-brand {
    font-family: 'Splash', cursive;
    font-size: 3rem;
    color: rgb(248, 217, 42);
}

.nav-link, .nav-button {
    font-family: 'Montserrat', sans-serif;
}

.nav-button {
    border-radius: 6rem;
    border-color: rgb(248, 217, 42);
    color: rgb(248, 217, 42);
}

.nav-button:hover {
    color: lightgray;
    border-color: lightgray;
    background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 991px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}