@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@100&display=swap');

.delivery {
    margin-top: 98px;
    font-family: "Montserrat", sans-serif;
}

.delivery-bg {
    background: url("./assets/delivery-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}