.menu {
    margin-top: 98px;
    height: calc(100vh - 98px);
    width: 100vw;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    background-color: black;
}

.breakfast {
    padding-top: 98px;
    height: calc(100vh - 98px);
    width: 100vw;
    background-image: url('./assets/breakfast.jpg');
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

.pasta {
    padding-top: 98px;
    height: calc(100vh - 98px);
    width: 100%;
    background-image: url('./assets/pasta.jpg');
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}

.drinks {
    padding-top: 98px;
    height: calc(100vh - 98px);
    width: 100%;
    background-image: url('./assets/coffee.jpg');
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}
